<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RecruitingAteliware</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <base href="~/" />
    @RenderSection("CssAdicional", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">RecruitingAteliware</a>
            </div>           
        </div>
    </nav>
 
    <div class="container body-content">
        @RenderBody()
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h3>Aplicação</h3>
                <ul>
                    <li>Botão para buscar e armazenar os repositórios destaques de 5 linguagens à sua escolha</li>
                    <li>Listar os repositórios encontrados [OK]</li>
                    <li>Visualizar os detalhes de cada repositório [OK]</li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-6">
                <h3>Requisitos</h3>
                <ul>
                    <li>Deve ser uma aplicação totalmente nova [OK]</li>
                    <li>A solução deve estar em um repositório público do GitHub [OK]</li>
                    <li>A aplicação deve armazenar as informações encontradas</li>
                    <li>Utilizar Postgres, MySQL ou SQL Server</li>
                    <li>O deploy deve ser realizado no Heroku ou Azure</li>
                    <li>A aplicação precisa ter testes automatizados</li>
                </ul>
            </div>   
        </div>
        <hr />
        <footer>
            <p>&copy; 2017 - Recruiting Ateliware</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>           
    
    <script type="text/javascript" language="javascript">
        var baseUrl = function (url) {
            return $('base').attr('href') + url;
        };
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
