@model RecruitingAteliware.Forms.FormularioDeLinguagens

@{    
    ViewBag.Titulo = "Projeto API GitHub";    
}

@section CssAdicional{
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />    
    <link rel="stylesheet" href="~/css/bootstrap-dialog.min.css" />    
    <link rel="stylesheet" href="~/css/custom.css" />
}
<br />
<div class="page-header">
    <h2>
        <strong>
            @ViewBag.Titulo
        </strong>
    </h2>
</div>
<div class="panel panel-default">
    <div class="panel-body">        
        <div class="row">
        <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="required">Linguagem:</label>               
            @Html.DropDownListFor(m => m.Linguagem, (IEnumerable<SelectListItem>)ViewBag.Linguagens, "Selecione...", new { @class = "form-control step2 required"})        
        </div>            
    </div>   
    <div class="row">
        <div class="form-group table-responsive col-lg-12">
            <table class="table table-bordered table-striped" id="datatable-repositorios">
                <thead>
                    <tr class="text-center">     
                        <th class="col-lg-1 col-md-1 col-sm-1"></th>                                                                   
                        <th class="col-lg-3 col-md-3 col-sm-3">Nome</th>                  
                        <th class="col-lg-3 col-md-3 col-sm-3">Proprietário</th>
                        <th class="col-lg-2 col-md-2 col-sm-2">Criação</th>
                        <th class="col-lg-2 col-md-2 col-sm-2">Atualização</th>                        
                    </tr>
                </thead>
            </table>
        </div>
    </div>    
    </div>        
    <div class="panel-footer">
        <button class="btn btn-success"
                type="button"                                            
                id="btnSalvar">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar
        </button>                            
    </div>
</div>

@section Scripts{
    <script src="~/js/jquery.dataTables.min.js" asp-append-version="true"></script> 
    <script src="~/js/moment.js" asp-append-version="true"></script>    
    <script src="~/js/bootstrap-dialog.min.js" asp-append-version="true"></script>    
    <script src="~/js/consulta_api_github.js"></script>    
}
