@model RecruitingAteliware.Forms.FormularioDeLinguagens

@{    
    ViewBag.Titulo = "Projeto API GitHub";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Salvar2";
}

@section CssAdicional{
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />    
    <link rel="stylesheet" href="~/css/custom.css" />
}

@section Formulario{
    @Html.HiddenFor(m => m.Repositorios)
    <div class="row">
        <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="required">Linguagem:</label>               
            @Html.DropDownListFor(m => m.Linguagem, (IEnumerable<SelectListItem>)ViewBag.Linguagens, "Selecione...", new { @class = "form-control step2 required"})        
        </div>            
    </div>   
    <div class="row">
        <div class="form-group table-responsive col-lg-12">
            <table class="table table-bordered table-striped" id="datatable-repositorios">
                <thead>
                    <tr class="text-center">     
                        <th class="col-lg-1 col-md-1 col-sm-1"></th>                                                                   
                        <th class="col-lg-3 col-md-3 col-sm-3">Nome</th>                  
                        <th class="col-lg-3 col-md-3 col-sm-3">Proprietario</th>
                        <th class="col-lg-2 col-md-2 col-sm-2">Criacao</th>
                        <th class="col-lg-2 col-md-2 col-sm-2">Atualizacao</th>                        
                    </tr>
                </thead>
            </table>
        </div>
    </div>    
}

@section Scripts{
    <script src="~/js/jquery.dataTables.min.js" asp-append-version="true"></script> 
    <script src="~/js/moment.js" asp-append-version="true"></script>    
    <script src="~/js/consulta_api_github.js"></script>    
}
